.account-button {
  /*position: fixed;
  z-index: 1;
  width: 10px;
  height: 10px;*/
  height: 52px;
  width: 52px;
  padding: 0;
  background: none;
  border: none;
  border-radius: 50px;
  background: white;
  box-shadow: 0 3px 8px rgba(154, 153, 153,.5);
}

.btn-circle img{
  /*border-radius: 45%;*/
  width: 44px;
  height: 44px;
}
