:root{
    --colorLogo: ;/*#ff3c62*/
    --colorLogo33: #3D56F033;/*#ff3c6233*/
    --colorLogo69: #3D56F069;/*#ff3c6269*/
    --hoverBtn: #2c3fb3;/*#d03651*/
    --titlePage: #374589;
  }
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background: linear-gradient(257deg, #ff003299, #934c5a5c);*/
  background: white;
}

#root{
  display: flex;
  justify-content: center;
  /*height: 98vh;*/
  align-items: center;
  flex-direction: column;
  /*min-height: calc(100vh - 150px);*/
  display: flex;
  min-height: 100vh;
}

.loginInterface.container{
  /*height: 441px;*/
  width: 480px;
  /*background: white;*/
  display: flex;
  flex-direction: column;
  padding: 40px;
  z-index: 2;
  border-radius: 8px;
  padding-top: 0;
}

.loginInterface.container.loginShadow{
  /*box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%), 0 5px 5px 0 rgb(0 0 0 / 24%);*/
  /*box-shadow: 0px 3px 20px 3px #d7d7ef7d;*/
  margin-top: 0 !important/*8%*/;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fontTitle {
  font-family: "Lobster",cursive;
}


.sign-in-form .ripple, .sign-up-form .ripple{
  text-transform: uppercase;
  background: var(--colorLogo);
  border: none;
  margin: auto;
  display: flex;
  padding: 10px 20px;
  align-items: center;
  border-radius: 8px;
  font-weight: 500;
  margin-top: 20px;
  padding-left: calc(3*20px);
}

.fontTitle{
  font-family: var(--bs-body-font-family);
}
img.logoVNom{
  display: flex;
  justify-content: center;
  width: 100%;
  /* position: fixed; */
  position: absolute;
  /* top: 41px;*/
  top: calc((35vw - 35px)/2);
  left: 0;
}

button.ripple.ripple-surface.btn.btn-link {
  background: white;
  text-decoration: none;
  color: #626262;/*#3b4787*/
  box-shadow: 0px 3px 20px 1px #eeeefff0;
  border-radius: 8px;
  margin: 20px;
  padding: 15px 20px;
  font-weight: 500;
  letter-spacing: 0.3px;
  width: 67%;
  display: flex;
  justify-content: center;
}
button.ripple.ripple-surface.btn.btn-link[type=submit]   {
  margin: auto;
  padding-left: 40px;
}

#root .btn-group{
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}

#root div .bottomPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#root div p a{
  text-decoration: none;
  color: var(--colorLogo);
}

#root div .sTitle{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
#root div h1{    
  margin: 30px 50px;
  margin-top: 0;
}

div.form-outline input{
  padding: 10px;
  padding-left: 20px;
}
.resovedIntern{
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.circleTop{
  display: none;
}
.resovedIntern label {
  position: relative;
  display: block;
  width: 200px;
  height: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0,0,0);
  display: flex;
  justify-content: space-between;
}
.resovedIntern label:before{
  content: "";
  position: relative;
  top: 3px;
  left: 3px;
  width: 34px;
  height: 14px;
  display: block;
  background: #9A9999;
  border-radius: 8px;
  transition: background .2s ease;
}

.resovedIntern label span {/**/
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  display: block;
  background: white;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(154, 153, 153,.5);
  transition: all .2s ease;
}
.resovedIntern label span:before{
  content: "";
  position: absolute;
  display: block;
  margin: -18px;
  width: 56px;
  height: 56px;
  background: rgba(154, 153, 153,.5);
  border-radius: 50%;
  transform: scale(0);
  opacity: 1;
  pointer-events: none;

}
#resovedIntern:checked + .resovedInternV:before {
  background: var(--colorLogo69); /*#947ADA*/
}
#resovedIntern:checked + .resovedInternV span {
  background: var(--colorLogo); /*#4F2EDC*/
  transform: translateX(20px);
  transition: all .2s cubic-bezier(.8,.4,.3,1.25), background .15s ease;
  box-shadow: 0 3px 8px rgba(21, 127, 164,.2);
}

  #resovedIntern:checked + .resovedInternV span:before {
      transform: scale(1);
      opacity: 0;
      transition: all .4s ease;
  }


svg{
  margin-left: 20px;
}

svg path {
  fill: #5c5b5b;/*#3b4787*/
}

svg.rightArrow{
  padding: 3px;
  background: #27272730;
  border-radius: 50%;
}
svg.rightArrow path{
  fill: white;
}

svg.rightArrowC path{
  fill: #6f6f6f;/*#3b4787*/
}

.btnBottom{
  width: 100%;
  margin: auto;
  bottom: 34px;
  margin-top: 50px;
}

.divSvgInput {
  position: relative;
}

svg:not(:root) {
  overflow: hidden;
}

.divSvgInput .svgInput{
  position: absolute;
  margin: auto;
  left: 10px;
  pointer-events: none;
  height: 100%;
  padding: 3px;
}
.divSvgInput .svgInput path{
  fill: #787878;
}

div.form-outline .divSvgInput input{
  padding-left: 40px;
}

.rememberForget{
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
}
.rememberForget label p{
  padding-right: 30px;
}
.rememberForget a{
  color: #999;
  text-decoration: none;
}

.form-outline .form-control:focus, .PwdBloc:focus-within {
  border-color: var(--colorLogo) !important;
  box-shadow: 0 0 0px 0.25rem var(--colorLogo33) !important;
}
.sign-in-form .btn:hover, .sign-in-form .btn:active, .forgotPwd .btn:hover, .forgotPwd .btn:active{
  background: var(--hoverBtn) !important;
}
.rememberForget a:hover{
 color: var(--colorLogo);
}

.titlePageArrow{
  display: flex;
  margin-bottom: 3rem!important;
  align-items: flex-end;
}
.titlePageArrow h3.mb-5{
  margin-bottom: 0!important;
}

.titlePageArrow svg{  /*remplacer 1.5rem par var(--bs-gutter-x)*/
  margin-left: calc(1.5rem * .5);
  margin-right: calc(1.5rem);
  cursor: pointer;
}

div.form-outline div.PwdBloc {
  display: flex;
  align-items: center;
  padding: 0;
}
div.PwdBloc.form-control.mb-4 .divSvgInput{
  width: 100%;
}

div.PwdBloc.form-control.mb-4 input{
  margin: 0 !important;
  border: 0;
}

button[id^=eye] {
  margin-right: 13px;
  cursor: pointer;
  border: none;
  background: none;
  transition: all .3s ease-out;
  border-radius: 50%;
}

.form-outline .PwdBloc input:focus{
  box-shadow: none !important;
}

.forgotPwd .validationBtn{
  text-transform: uppercase;
  background: var(--colorLogo);
  border: none;
  display: flex;
  padding: 10px 20px;
  align-items: center;
  border-radius: 8px;
  font-weight: 500;
  width: 100%;
  justify-content: center;
}

@media only screen and (max-width: 980px){
  body{
    background: white;
  }

  #root{/*
    display: block;*/
    display: flow-root;
    height: auto;
  }

  .loginInterface.container, .loginInterface.container.loginShadow{
    height: auto;
    width: auto;
    /*background: white;*/
    display: block;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: 3rem!important;
  }

  #root div .bottomPage{
    position: fixed;
    bottom: 20px;
    left: 0;
  }
  .sign-in-form{
    /*margin-top: 190px;100px*/
    margin-top: calc((100vh - 250px)/2);/*283px*/
  }
  h3.connectionTitle{
    color: var(--titlePage) !important; 
    margin: 1rem; 
    font-size: 1.3rem;
  }

  .btnBottom{
    position: fixed;
    margin: auto;
    left: 0;
  }

  #root div .sTitle{
    margin-top: 18vh;
  }

  .circleTop {
    /* position: fixed; */
    /* z-index: -1; */
    /* top: calc(125px - 100vw); */
    /* left: -50vw; */
    /* width: 200%; */
    /* height: 100vw; */
    /* background: #3d56f0; */
    /* border-bottom-left-radius: 100vw; */
    /* border-bottom-right-radius: 100vw; */
    display: block;
    position: absolute;
    z-index: -1;
    left: 0;
    top: -5px;
    width: 100vw;
    height: auto;
}
}