:root{
    --colorLogo: #3D56F0;/*#ff3c62*/
  }
.map-container {
    background: #1a73e8;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 78px);
    position: absolute;
    overflow: hidden;
}




/* Menu DockMap.js */

.barMenuAsso{
    display: flex;
    position: fixed;
    background: white;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 15px 10px;
    justify-content: space-evenly;
    box-shadow: 0 0px 8px rgba(154, 153, 153,.5);
}
.itemMenuAsso{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.barMenuAsso .itemMenuAsso svg{
    margin: 0;
}